# Base URL untuk REST API Backend (mengambil log Audit, setting RBAC, dll)
VITE_API_BASE_URL=http://127.0.0.1:8000

# Base URL untuk WebSocket (Penting untuk streaming data real-time mesin PMA Granulator)
VITE_WS_BASE_URL=ws://localhost:8000/ws

# Nama environment
VITE_APP_ENV=development