PROJECT_NAME="SPMS_API"
API_V1_STR="/api/v1"

DATABASE_URL="..." 

SECRET_KEY="..." 
ACCESS_TOKEN_EXPIRE_MINUTES=30 

BACKEND_CORS_ORIGINS=["http://localhost:3000", "http://localhost:5173", "http://localhost"]